@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Qwitcher+Grypen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body{
    background-color: rgb(255, 207, 212);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20;
}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}
.input-container input[type="text"]{
    width: 70%;
}
.input-container input[type="button"]{
    background-color: rgb(15, 171, 223);
    color: rgb(146, 41, 41);
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 14px 24px;
}
.input-container input[type="button"]:hover{
    background-color: rgb(211, 144, 144);
}
ul{
    width: 70%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}